
  .view-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 20px auto;    
    max-width: 800px;       
    
  }
  .view-detail h1{
    margin: 0.5rem;
  }
  
  .view-detail p {
    text-align: center;
    margin: 1.5rem;
  }
  
  .view-detail button {
    background-color: #ddd1d1;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .view-detail button:hover {
    background-color: #e35656;
    color: #fff;
  }
  
  /* Responsive design */
  @media (max-width: 600px) {
    .view-detail {
      width: 90%;        
      padding: 15px;     
    }
  
    .view-detail h1 {
      font-size: 1.5em;  
    }
  
    .view-detail p {
      font-size: 1em;     
      margin: 1rem;       
    }
  
    .view-detail button {
      font-size: 0.9em;  
      padding: 8px 16px;  
    }
  }
  