/* .title-list{
  font-family: "Jockey One", sans-serif;
  padding: 10px 30px;
}
.card {
    width: 400px;
    height: 400px;
    background-color: #fff; 
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
  
  }
  
  .card img {
    width: 100%;
    height: 200px;
    display: block;
    margin-bottom: 10px;
  }
  
  .card h1 {
    font-size: 1.2em;
    margin: 5px 5px;
  }
  
  .card p {
    font-size: 0.9em;
    line-height: 1.5;
    margin: 15px;
  }
  
  .card button {
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  .button-arrow{
      display:flex;
      justify-content: space-between;
      justify-items: center;
      margin: 15px;
      arrow-right{
          display:flex;
          justify-content: center;
      }
  } */

