<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ListView</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <navbar-layout class="navbar-layout"></navbar-layout>
    <div class="notes" id="app"></div>
    <navbar-layout class="footer-layout"></navbar-layout>
</body>
<script src="./main.js" type="module"></script>
<script src="../scripts/navbar.js"></script>
<script src="../scripts/footer.js"></script>
</html>