
<body>
    <link rel="stylesheet" type="text/css" href="../style/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jockey+One&display=swap" rel="stylesheet">
    <nav>
        <ul class="navbar">
            <li><a href="../pages/index.html">Daily Board</a></li>
            <div class="navbar-li">
                <li><a href="../pages/listpage.html">List</a></li>
                <li><a href="../pages/createpage.html">Create</a></li>
                <li><a href="">View</a></li>
               
                <div><form action="/search" method="get">  <input type="search" name="query" placeholder="Search Your File...." aria-label="Search">
                    <button type="submit">Search</button>
                </form></div>
            </div>
        </ul>
    </nav>
</body>